*.exe
*.duckdb
*.json

.venv/
data/
app_data/

sql/dbt_packages
sql/logs 
sql/target/
sql/.user.yml

logs/
target/
.user.yml

.ipynb_checkpoints/
*.DS_Store

.cpcache/
.idea/
.clj-kondo/

.nrepl-port
*.iml

.local-env
.prod-env

.vscode/